/* Color Recommendations */  
/* Note: First Color Is Darkest, Last One Is Lighest */
    /* Dark Color Scheme */
    /* 1A1A1A > 2E2E2E > 444444 */

    /* Light Color Scheme */
    /* This Has Yet To Be Added */

* {
    user-select: none;
    cursor: auto;
}

body {
    background-color: #1A1A1A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

main {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.navbar {
    background-color: #2b2b2b;
    border: 2px solid #141718;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-style: normal;
}

.navbar a {
    font-weight: bold;
    border-right: 2px dashed #1f1f1f;
    padding: 6px 12px;
}

#mHome, #mButtons, #mInputs, #mNothing {
    transition: color 0.3s ease;
}

#mHome:hover, #mButtons:hover, #mInputs:hover, #mNothing:hover {
    color: #141718;
}

.on {
    opacity: 1;
}

.container {
    display: flex;
    margin-top: 20px;
  }
  
  .options {
    flex: 1; /* Adjust the flex value as needed */
    background-color: grey; /* or any color for the option panel background */
    width: 400px;
    height: 800px;
    margin-right: 10px;
    border: 3px solid red;
  }
  
  .output {
    flex: 3; /* Adjust the flex value as needed for a larger preview area */
    background-color: gray; /* or any color for the live preview background */
    width: 400px;
    height: 800px;
    margin-left: 10px;
    border: 3px solid blue;
  }

.abc {
    display: block;
    margin: 0% auto;
    text-align: center;
    margin-top: 20px;
}
