* {
    user-select: none;
    cursor: auto;
}

body {
    background-color: #1A1A1A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

/* Navigation Menu Config */
.navbar {
    background-color: #2b2b2b;
    border: 2px solid #141718;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-style: normal;
}

.navbar a {
    font-weight: bold;
    border-right: 2px dashed #1f1f1f;
    padding: 6px 12px;
}

#mHome,
#mButtons,
#mInputs,
#mNothing {
    transition: color 0.3s ease;
}

#mHome:hover,
#mButtons:hover,
#mInputs:hover,
#mNothing:hover {
    color: #141718;
}

.on {
    opacity: 1;
}

/* Page Bars */
.pagecontainer {
    display: flex;
    margin-top: 10px;
    width: inherit;
    /* Inherit width from parent element (assumedly body) */
}

.configbar {
    flex: 1 0 calc(30% - 4px);
    /* Adjust for border width */
    height: 500px;
    margin-top: 5px;
    background-color: #2b2b2b;
    border: 2px solid #141718;
    border-radius: 6px;
}

.displaybar {
    flex: 3 0 calc(70% - 9px);
    /* Adjust for border width */
    height: 500px;
    margin-top: 5px;
    background-color: #2b2b2b;
    border: 2px solid #141718;
    border-radius: 6px;
    margin-left: 5px;
}

/* Config Bar Elements */

.x {
    display: block;
    margin: 0% auto;
    margin-top: 10px;
    text-align: center;
}

.xB {
    display: block;
    margin: 0% auto;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: #141718;
    border: 2px solid gray;
    color: white;
    font-size: 20px;
    border-radius: 4px;
}

.xC {
    display: block;
    margin: 0% auto;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 40px;
}

.xT {
    display: block;
    margin: 0% auto;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: white;
    outline: none;
    border: none;
    color: black;
    font-size: 20px;
}

.xR {
    display: block;
    margin: 0% auto;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: white;
    outline: none;
    border: none;
    color: black;
    font-size: 20px;
}

#live {
    display: block;
    margin: 0% auto;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: white;
    outline: none;
    border: none;
    color: black;
    font-size: 20px;
}